<p>
  <%= current_year %>
   Чиркова Ксения
   <%= link_to 'TestGuru Github', github_url('Kseniya82', 'rails'), target: "_blank"%>
</p>
<p>
  Cистема тестирования, позволяющая создавть и проходить тесты по различным темам.
</p>
<p>
  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://www.thinknetica.com/', target: "_blank"%>
</p>
