<p>
  <div class="card col-sm-6 col">
    <img src=<%= badge.url %> class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= badge.title %></h5>
    </div>
  </div>
</p>
